body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  color: darkblue;
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
}
